body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color:darkred;
    color: white;
    font-size: 32px;
    font-weight: lighter;
}

header a {
    color: aliceblue;
    text-decoration: none;
}

.allRecipes {
    list-style: none;
    color: white;
    text-align: center;
    padding: 1.5em;
    background-color: green;
    color: white;
    font-size: 18px;
}
.allRecipes a {
    color: aliceblue;
    text-decoration: none;
}

.allRecipes a:hover {
    font-size: 25px;
    color: black;
}

footer {
    padding: 1em;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: orange; 
    font-size: 10px;
}
